h2 Listing entries
div
  ul
    - collection.each do |t|
      li
        =link_to t.title, entry_path(t)
        ul
          li
            = link_to "Edit", edit_entry_path(t)
          li
            = link_to "Delete", t, :method => :delete, :class => :delete, :confirm => 'Are you sure?'