ul
  li
    =link_to "Home", entries_path
  li
    =link_to "New entry", new_entry_path
  - if current_user
    li 
      = link_to 'Logout', destroy_user_session_path, :method => :delete
  - else
    li 
      = link_to 'Sign Up', new_user_registration_path
    li
      = link_to 'Sign In', new_user_session_path