doctype 5
html
  head
    title Application Demo
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag

  body
    header
      = render "shared/menu"

    #content
      =yield

    footer